<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main.MainClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Listed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NachSigned</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enach</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>declined</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>disbursed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoanCount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cancelloan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoanProcessing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Repayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>open</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Nachformsigned</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
