<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.declined()[pri:5, instance:main.MainClass@5745ca0e]">declined</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:48</td>   <td>22983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.NachSigned()[pri:8, instance:main.MainClass@5745ca0e]">NachSigned</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:08</td>   <td>-17729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.cancelloan()[pri:3, instance:main.MainClass@5745ca0e]">cancelloan</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:40</td>   <td>14164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Enach()[pri:7, instance:main.MainClass@5745ca0e]">Enach</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:58:54</td>   <td>-31348</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@5745ca0e]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:31</td>   <td>5163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.disbursed()[pri:6, instance:main.MainClass@5745ca0e]">disbursed</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:57</td>   <td>31888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Nachformsigned()[pri:9, instance:main.MainClass@5745ca0e]">Nachformsigned</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 11:00:36</td>   <td>70372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Listed()[pri:12, instance:main.MainClass@5745ca0e]">Listed</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 11:00:43</td>   <td>77676</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@5745ca0e]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:58:58</td>   <td>-27078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.login()[pri:1, instance:main.MainClass@5745ca0e]">login</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:03</td>   <td>-22729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.LoanCount()[pri:2, instance:main.MainClass@5745ca0e]">LoanCount</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 11:00:06</td>   <td>40754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.LoanProcessing()[pri:10, instance:main.MainClass@5745ca0e]">LoanProcessing</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 10:59:17</td>   <td>-8900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.open()[pri:4, instance:main.MainClass@5745ca0e]">open</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/08/29 11:00:26</td>   <td>60773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.Repayment()[pri:11, instance:main.MainClass@5745ca0e]">Repayment</td> 
  <td>main@332873513</td>   <td></td> </tr>
</table>
